name = "simplelikes"
main = "src/index.ts"
compatibility_date = "2025-01-01"

[[d1_databases]]
binding = "DB"
database_name = "simplelikes"
database_id = "{env.D1_DATABASE_ID}"

[env.staging]
name = "simplelikes-staging"
[[env.staging.d1_databases]]
binding = "DB"
database_name = "simplelikes-staging"
database_id = "{env.D1_DATABASE_ID}"

[env.production]
name = "simplelikes"
[[env.production.d1_databases]]
binding = "DB"
database_name = "simplelikes"
database_id = "{env.D1_DATABASE_ID}"
